body {
  --primaryColor: #13c7a8;
  --primaryColorAlpha: #13c7a830;
  --primaryText: #fff;
  --secondaryColor: #186e93;
  --secondaryColorAlpha: #186e9330;
  --secondaryText: #fff;
  --text: #333333;
  --textError: #f31260;
  --textPrimary: #333333;
  --textSecondary: #555555;
  --textDisabled: #cacaca;
  --background: #fbfbfb;
  --bg: #fbfbfb;
  --bs-table-color: var(--textPrimary) !important;
  --bs-table-bg: var(--bg) !important;
}
body.darkMode {
  --textPrimary: #f7f7f7 !important;
  --textSecondary: #cfcfcf !important;
  --textDisabled: #777777 !important;
  --background: #0d0d0d !important;
  --bg: #0d0d0d !important;
  --bg: #fbfbfb;
}
body.darkMode div.modal {
  --bs-modal-bg: #333 !important;
}
body.darkMode .tableContainer table {
  --bs-table-color: #cfcfcf !important;
  --bs-table-bg: #0d0d0d !important;
}

.warning {
  color: #f5a524 !important;
  background: rgba(245, 165, 36, 0.1254901961) !important;
}

.error {
  color: #f31260 !important;
  background: rgba(243, 18, 96, 0.1254901961) !important;
}

.success {
  color: #17c964 !important;
  background: rgba(23, 201, 100, 0.1254901961) !important;
}

.info {
  color: #338ef7 !important;
  background: rgba(51, 142, 247, 0.1254901961) !important;
}

.primary {
  color: var(--primaryColor) !important;
  background: var(--primaryColorAlpha) !important;
}

.secondary {
  color: var(--secondaryColor) !important;
  background: var(--secondaryColorAlpha) !important;
}

.positive {
  color: #17c964;
}

.negative {
  color: #f31260;
}

* {
  font-family: "Roboto", sans-serif;
}

.swan-tooltip,
.swan-tooltip-right,
.swan-tooltip-left {
  position: relative;
}

.swan-tooltip:after {
  left: 50%;
  transform: translateX(-50%);
  border-radius: 12px;
}

.swan-tooltip-right:after {
  left: calc(100% + 2px);
  border-radius: 12px 12px 12px 0;
}

.swan-tooltip-left:after {
  right: calc(100% + 2px);
  border-radius: 12px 12px 0 12px;
}

.swan-tooltip:after,
.swan-tooltip-right:after,
.swan-tooltip-left:after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: calc(100% + 6px);
  background-color: #ffffff;
  color: #494949;
  box-shadow: 0 2px 4px rgba(131, 131, 131, 0.5019607843);
  padding: 5px 10px;
  display: none;
  font-weight: 500;
  font-size: 11px;
  line-height: 1rem;
  font-family: Roboto;
  width: -moz-max-content;
  width: max-content;
  transition: all 200ms ease-in-out;
}

.swan-tooltip:hover:after,
.swan-tooltip-right:hover:after,
.swan-tooltip-left:hover:after {
  display: flex;
  flex: 1;
}

.title {
  font-size: 22px;
  font-weight: 600;
  color: var(--secondaryColor);
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.description {
  font-size: 14px;
  line-height: 18px;
  color: var(--text);
  margin: 0;
  font-family: "Inter", sans-serif;
}

.line-clamp {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.clamp-1 {
  -webkit-line-clamp: 1;
}

.clamp-2 {
  -webkit-line-clamp: 2;
}

.clamp-3 {
  -webkit-line-clamp: 3;
}

.clamp-4 {
  -webkit-line-clamp: 4;
}

.clamp-5 {
  -webkit-line-clamp: 5;
}

.nowarp {
  white-space: nowrap;
}

.relative {
  position: relative;
}

.loaderContainer {
  position: absolute;
  display: none;
  align-items: center;
  justify-self: center;
  height: 100%;
  width: 100%;
  inset: 0;
  z-index: 999999;
  pointer-events: fill;
  cursor: not-allowed;
  justify-content: center;
}

.loaderContainer.loading {
  display: flex;
}

/* HTML: <div class="loader"></div> */
/* HTML: <div class="loader"></div> */
.loader {
  height: 30px;
  aspect-ratio: 2.5;
  --_g: no-repeat radial-gradient(farthest-side, #186e93 90%, #186e9300);
  background: var(--_g), var(--_g), var(--_g), var(--_g);
  background-size: 20% 50%;
  animation: l44 1s infinite linear alternate;
}

input[type=number] {
  -webkit-appearance: textfield;
          appearance: textfield;
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=file].form-control.file {
  font-size: 14px !important;
  padding: 2px 8px 2px 2px;
}
input[type=file].form-control::file-selector-button {
  font-size: 12px !important;
  font-family: "Montserrat" !important;
  padding: 2px 1rem !important;
  border-radius: 11px !important;
  border: 1px solid #e0e0e0 !important;
  margin: 0 8px 0 0 !important;
  background: var(-bg) !important;
}

.form-control.selectize-control {
  border: none !important;
  padding: 0 !important;
}
.form-control.selectize-control .selectize-input {
  font-size: 15px !important;
  line-height: 24px !important;
  padding: 6px 12px !important;
  border-radius: inherit !important;
  border: var(--bs-border-width) solid var(--bs-border-color);
  box-shadow: none !important;
  background-color: var(--bg) !important;
  background-image: none !important;
  background-repeat: repeat-x;
}
.form-control.selectize-control .selectize-input:has(input:focus) {
  border-color: var(--bg) !important;
  box-shadow: 0 0 0 2px var(--secondaryColorAlpha) !important;
  color: var(--secondaryColor) !important;
}
.form-control.selectize-control.multi .item {
  font-size: 12px !important;
  line-height: 12px !important;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2px;
  min-height: 66px;
  position: relative;
  fill: var(--secondaryColor);
}
.form-group:has(.form-control.withIcon) {
  min-height: auto;
}
.form-group:has(svg.inputIcon) .form-control {
  padding-left: 32px;
}
.form-group:has(.form-control:focus) svg.inputIcon {
  opacity: 1;
}
.form-group:has(.form-control:focus) .form-label {
  font-weight: 500;
}
.form-group svg.inputIcon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  height: 14px;
  width: 14px;
  color: var(--secondaryColor);
  opacity: 0.7;
}

.form-label,
.invalid-feedback,
.valid-feedback {
  color: var(--secondaryColor);
  font-size: 12px !important;
  line-height: 12px !important;
  margin: 0 !important;
  padding-left: 8px !important;
}

.form-control {
  border-radius: 12px !important;
  font-size: 15px !important;
  line-height: 24px !important;
  color: var(--textSecondary) !important;
  border-color: rgba(131, 131, 131, 0.5019607843) !important;
  background: var(--bg) !important;
}
.form-control::-moz-placeholder {
  color: #b8b8b8 !important;
  font-size: 14px;
}
.form-control::placeholder {
  color: #b8b8b8 !important;
  font-size: 14px;
}
.form-control::-ms-input-placeholder {
  color: #a6a6a6 !important;
}
.form-control:focus {
  border-color: var(--bg) !important;
  box-shadow: 0 0 0 2px var(--secondaryColorAlpha) !important;
  color: var(--secondaryColor) !important;
}

input.form-check-input {
  cursor: pointer;
}
input.form-check-input:checked {
  background-color: #17c964 !important;
  border-color: #17c964 !important;
}

.invalid-feedback {
  color: var(--textError);
}

.btn {
  border-radius: 12px !important;
  transition: all 340ms ease-in-out;
}
.btn:has(svg.icon) {
  position: relative;
  min-width: 100px;
}
.btn:has(svg.icon.left) {
  padding-left: 28px;
}
.btn:has(svg.icon.right) {
  padding-right: 28px;
}
.btn:hover {
  border-radius: 18px !important;
}
.btn.btn-primary {
  background-color: var(--secondaryColor) !important;
  border-color: var(--secondaryColor) !important;
}
.btn.btn-primary:active {
  outline: 2px solid rgba(20, 89, 118, 0.1882352941) !important;
  outline-offset: 2px;
  scale: 0.98;
}
.btn svg {
  height: 18px;
  width: 18px;
}
.btn svg.icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.btn svg.icon.left {
  left: 12px;
}
.btn svg.icon.right {
  right: 12px;
}

.loadingButton .loadingText {
  display: none;
}

.loadingButton .btnText {
  display: inline;
}
.loadingButton .loadingText {
  display: none;
}

.loadingButton.loading .btnText {
  display: none;
}
.loadingButton.loading .loadingText {
  display: inline;
}

.neoButton {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  background: var(--bg);
  box-shadow: 0px 0px 13px 0px rgba(131, 131, 131, 0.5) inset;
  outline: none;
  border: none;
}
.neoButton:active {
  outline: 2px solid var(--secondaryColor);
  outline-offset: 2px;
}
.neoButton.rounded {
  border-radius: 8px;
}
.neoButton.circular {
  border-radius: 50vh;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

main {
  padding: 0;
}

#loading {
  display: none;
  position: absolute;
  z-index: 999999;
  inset: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3137254902);
}
#loading.active {
  display: block;
}

.noDataView {
  max-width: 90%;
  margin: 2rem auto 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  text-align: center;
}
.noDataView img {
  max-width: min(80vw, 160px);
}
.noDataView p {
  color: var(--textSecondary);
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  margin-bottom: 0;
}
.noDataView a.actionLink {
  cursor: pointer;
  text-decoration: none;
  padding: 4px 12px;
  color: var(--secondaryColor) !important;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  border-radius: 12px;
  background: var(--bg);
  box-shadow: 0 0 17px -6px var(--secondaryColor) inset;
}

.modal .modal-content {
  border-radius: 28px;
  position: relative;
}
.modal .modal-content .btn-close {
  font-size: 12px;
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.modal .modal-content .modal-body {
  margin: auto;
  width: 100%;
}
.modal .modal-content .modal-header {
  padding: 1.3rem 1rem 0.7rem !important;
  border-bottom: none;
  box-shadow: 0px 0px 12px -3px rgba(131, 131, 131, 0.5019607843);
}
.modal .modal-content .modal-header .modal-title {
  font-size: 18px;
  line-height: 18px;
  font-family: "Montserrat";
  font-weight: 500;
  color: var(--secondaryColor);
}
.modal .modal-content .modal-footer {
  padding: 0.5rem 1rem !important;
  border-top: none;
  box-shadow: 0px 0px 12px -3px rgba(131, 131, 131, 0.5019607843);
}

.tableContainer {
  max-width: 100%;
}
.tableContainer .dt-row > div {
  overflow: auto;
  margin-bottom: 1rem;
}
.tableContainer .footer-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.tableContainer .footer-row label {
  font-size: 14px;
  line-height: 14px;
  color: var(--textPrimary);
}
.tableContainer .footer-row select {
  border-radius: 12px;
  color: var(--textPrimary);
  background: var(--bg);
}
.tableContainer table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
}
.tableContainer table td {
  padding: 4px;
  font-size: 14px;
  border-bottom: 1px solid rgba(131, 131, 131, 0.1254901961) !important;
}
.tableContainer table td:has(.currency) {
  text-align: right;
  padding-right: 26px;
}
.tableContainer table tr:nth-child(1) td {
  padding-top: 1rem;
}
.tableContainer table thead tr th {
  color: var(--secondaryColor);
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  border-bottom: 1px solid var(--secondaryColor);
  padding: 4px 4px 12px;
  white-space: nowrap;
}
.tableContainer table thead tr th.forCurrency {
  text-align: right;
  padding-right: 16px;
}
.tableContainer table .iconButton {
  border-radius: 50vh;
  height: 24px;
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: var(--secondaryColor);
}
.tableContainer table .iconButton svg {
  height: 14px;
  width: 14px;
}
.tableContainer table .iconButton:hover {
  box-shadow: 0 0 12px -6px var(--secondaryColor) inset;
}
.tableContainer table .chip {
  border-radius: 50vh;
  padding: 0 6px;
  font-size: 10px;
  line-height: 12px;
  font-weight: 500;
  font-family: Montserrat;
  min-width: 100px;
  width: -moz-max-content;
  width: max-content;
  display: flex;
  height: 20px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  color: #3f3f46;
  background: rgba(63, 63, 70, 0.1882352941);
}
.tableContainer table .actionCol {
  position: sticky !important;
  right: 0;
  padding-left: 11px;
  box-shadow: 42px 0px 20px -52px #838383 inset;
}
.tableContainer table .actionCol .iconButtonsContainer {
  gap: 0.5rem;
  flex-wrap: wrap;
}
.tableContainer ul.pagination li.page-item a.page-link {
  height: 24px;
  width: 24px;
  border: none;
  color: var(--secondaryColor);
  background-color: transparent;
  font-size: 14px;
  line-height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}
.tableContainer ul.pagination li.page-item:last-child .page-link, .tableContainer ul.pagination li.page-item:first-child .page-link {
  width: -moz-max-content;
  width: max-content;
  padding-inline: 6px;
}
.tableContainer ul.pagination li.page-item.disabled .page-link {
  background-color: transparent !important;
  color: var(--textDisabled) !important;
}
.tableContainer ul.pagination li.page-item.active .page-link {
  background-color: var(--secondaryColor) !important;
  color: var(--secondaryText) !important;
}
.tableContainer .dataTables_info {
  font-size: 14px;
  color: var(--textSecondary);
}
.tableContainer table.dataTable thead .sorting:before,
.tableContainer table.dataTable thead .sorting_asc:before,
.tableContainer table.dataTable thead .sorting_desc:before,
.tableContainer table.dataTable thead .sorting_asc_disabled:before,
.tableContainer table.dataTable thead .sorting_desc_disabled:before {
  content: "\f077" !important;
  font-family: "FontAwesome";
  font-size: 8px;
}
.tableContainer table.dataTable thead .sorting:after,
.tableContainer table.dataTable thead .sorting_asc:after,
.tableContainer table.dataTable thead .sorting_desc:after,
.tableContainer table.dataTable thead .sorting_asc_disabled:after,
.tableContainer table.dataTable thead .sorting_desc_disabled:after {
  content: "\f078" !important;
  font-family: "FontAwesome";
  font-size: 8px;
}

.currency {
  text-align: right;
}/*# sourceMappingURL=globalStyle.css.map */